@model AllCompaniesModel

@{
    ViewBag.Title = "Companies Awaiting Approval";
}

<h2 class="text-center">@ViewBag.Title</h2>
<hr />

@if (!Model.Companies.Any())
{
    <h2 class="text-center">No companies yet!</h2>
}

<div class="row">
    @foreach (var company in Model.Companies)
    {
        <div class="col-md-4">
            <div class="card mb-3">
                <img class="card-img-top" 
                src="@company.LogoUrl" 
                alt="Company Logo" 
                style="width: 100%; height: 200px; object-fit: cover;">
                <div class="card-body text-center">
                    <h4>@company.Name</h4>
                    <h6>Address: <b>@company.Address</b></h6>
                    <br />
                    <a asp-area="Admin" asp-controller="Company" asp-action="Details" asp-route-companyId="@company.Id"
                       asp-route-information="@company.GetCompanyInformation()" class="btn btn-primary">Details</a>
                </div>
            </div>
        </div>
    }
</div>